<div class="card">
    <div class="card-header">
        <h5>System Settings</h5>
    </div>
    <div class="card-body">
        <div class="payment-section">
            
                <!-- Table Header -->
                <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-3">
                    <h6>Currencies</h6>
                    <div>
                        <div>
                            <a href="javascript:void(0);" class="btn btn-primary d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#add_currency"><i class="ti ti-plus me-2"></i>Add New Currency</a>
                        </div>
                    </div>
                </div>
                <!-- /Table Header -->
                <!-- Custom Data Table -->
                <div class="custom-datatable-filter table-responsive brandstable country-table">
                    <table class="table datatable">
                        <thead class="thead-light">
                            <tr>
                                <th>CURRENCY</th>
                                <th>CODE</th>
                                <th>SYMBOL</th>
                                <th>EXCHANGE RATE</th>
                                <th>STATUS</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            
                                <td>
                                    <p class="text-gray-9 fw-semibold fs-14">Dhirams</p>
                                </td>
                                <td>
                                    <p class="text-gray-9">AED</p>
                                </td>
                                <td>
                                    <p class="text-gray-9">د.إ</p>
                                </td>
                                <td>
                                    <p class="text-gray-9">3.67</p>
                                </td>
                                <td>
                                    <span class="badge badge-outline d-inline-flex align-items-center badge-sm">
                                        <i class="ti ti-point-filled me-1 text-success"></i>Active</span>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-icon btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ti ti-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end p-2">
                                            <li>
                                                <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit_currencies"><i class="ti ti-edit me-1"></i>Edit</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_currencies"><i class="ti ti-trash me-1"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                
                            </tr>                                                                                                  																	
                            <tr>
                            
                                <td>
                                    <p class="text-gray-9 fw-semibold fs-14">Rupee</p>
                                </td>
                                <td>
                                    <p class="text-gray-9">INR</p>
                                </td>
                                <td>
                                    <p class="text-gray-9">₹</p>
                                </td>
                                <td>
                                    <p class="text-gray-9">86.62</p>
                                </td>
                                <td>
                                    <span class="badge badge-outline d-inline-flex align-items-center badge-sm">
                                        <i class="ti ti-point-filled me-1 text-success"></i>Active</span>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-icon btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ti ti-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end p-2">
                                            <li>
                                                <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit_currencies"><i class="ti ti-edit me-1"></i>Edit</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_currencies"><i class="ti ti-trash me-1"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                
                            </tr>                                                                                                  																	
                            <tr>
                            
                                <td>
                                    <p class="text-gray-9 fw-semibold fs-14">Pound</p>
                                </td>
                                <td>
                                    <p class="text-gray-9">GBP</p>
                                </td>
                                <td>
                                    <p class="text-gray-9">£</p>
                                </td>
                                <td>
                                    <p class="text-gray-9">0.81</p>
                                </td>
                                <td>
                                    <span class="badge badge-outline d-inline-flex align-items-center badge-sm">
                                        <i class="ti ti-point-filled me-1 text-success"></i>Active</span>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-icon btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ti ti-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end p-2">
                                            <li>
                                                <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit_currencies"><i class="ti ti-edit me-1"></i>Edit</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_currencies"><i class="ti ti-trash me-1"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                
                            </tr>                                                                                                  																	
                            <tr>
                            
                                <td>
                                    <p class="text-gray-9 fw-semibold fs-14">Euro</p>
                                </td>
                                <td>
                                    <p class="text-gray-9">EUR</p>
                                </td>
                                <td>
                                    <p class="text-gray-9">€</p>
                                </td>
                                <td>
                                    <p class="text-gray-9">0.96</p>
                                </td>
                                <td>
                                    <span class="badge badge-outline d-inline-flex align-items-center badge-sm">
                                        <i class="ti ti-point-filled me-1 text-success"></i>Active</span>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-icon btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ti ti-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end p-2">
                                            <li>
                                                <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit_currencies"><i class="ti ti-edit me-1"></i>Edit</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_currencies"><i class="ti ti-trash me-1"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                
                            </tr>                                                                                                  																	
                            <tr>
                            
                                <td>
                                    <p class="text-gray-9 fw-semibold fs-14">Dollar</p>
                                </td>
                                <td>
                                    <p class="text-gray-9">USD</p>
                                </td>
                                <td>
                                    <p class="text-gray-9">$</p>
                                </td>
                                <td>
                                    <p class="text-gray-9">01</p>
                                </td>
                                <td>
                                    <span class="badge badge-outline d-inline-flex align-items-center badge-sm">
                                        <i class="ti ti-point-filled me-1 text-success"></i>Active</span>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-icon btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ti ti-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end p-2">
                                            <li>
                                                <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit_currencies"><i class="ti ti-edit me-1"></i>Edit</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_currencies"><i class="ti ti-trash me-1"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                
                            </tr>                                                                                                  																	
                        </tbody>
                    </table>
                </div>
                <!-- Custome Data Tabel -->
    
        </div>
    </div>
</div>

 <!-- Add Currency -->
 <div class="modal fade" id="add_currency">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="mb-0">Add Currency</h5>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x fs-16"></i>
                </button>
            </div>
            <div class="modal-body pb-1">
                <div class="mb-3">
                    <label class="form-label">Currency Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control">
                </div>                     
                <div class="mb-3">
                    <label class="form-label">Exchange Rate <span class="text-danger">*</span></label>
                    <input type="text" class="form-control">
                </div>     
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Code <span class="text-danger">*</span></label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Symbol <span class="text-danger">*</span></label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>                
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
                    <a href="javascript:void(0);" class="btn btn-primary" data-bs-dismiss="modal">Create New</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Add Currency -->

 <!-- Edit Currency -->
 <div class="modal fade" id="edit_currencies">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="mb-0">Edit Currency</h5>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x fs-16"></i>
                </button>
            </div>
            <div class="modal-body pb-1">
                <div class="mb-3">
                    <label class="form-label">Currency Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" value="Dhirams">
                </div>                     
                <div class="mb-3">
                    <label class="form-label">Exchange Rate <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" value="3.67">
                </div>                     
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Code <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" value="AED">
                        </div> 
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Symbol <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" value="د.إ">
                        </div> 
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="form-check form-check-md form-switch me-2">
                        <label class="form-check-label form-label mt-0 mb-0">
                        <input class="form-check-input form-label me-2" type="checkbox" role="switch" checked>
                            Status
                        </label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
                        <a href="javascript:void(0);" class="btn btn-primary" data-bs-dismiss="modal">Save Changes</a>
                    </div>
                </div>						
            </div>
        </div>
    </div>
</div>
<!-- /Edit Currency -->

<!-- Delete Currency  -->
<div class="modal fade" id="delete_currency">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <span class="avatar avatar-lg bg-transparent-danger rounded-circle text-danger mb-3">
                    <i class="ti ti-trash-x fs-26"></i>
                </span>
                <h4 class="mb-1">Delete Currency</h4>
                <p class="mb-3">Are you sure you want to delete currency?</p>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
                    <a href="javascript:void(0);" class="btn btn-primary" data-bs-dismiss="modal">Yes, Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- /Delete Currency -->