<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col-md-12 col-12">
        <h2 class="breadcrumb-title">Gallery </h2>
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="routes.home">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gallery</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- /Breadscrumb Section -->

<!-- Gallery section-->
<div class="section gallery-section">
  <div class="container">
   <div class="row">
    <lightgallery class="row">
					<div class="col-lg-4 col-md-6 col-sm-6 col-12" data-aos="fade-down" data-src="assets/img/gallery/gallery-01.jpg" data-responsive="assets/img/gallery/gallery-thum-01.jpg">
						<div class="gallery-widget">
							<a href="assets/img/gallery/gallery-01.jpg" data-fancybox="gallery2">
								<img class="img-fluid" alt="Image" src="assets/img/gallery/gallery-thum-01.jpg">
							</a>
						</div>					
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 col-12" data-aos="fade-down" data-src="assets/img/gallery/gallery-02.jpg" data-responsive="assets/img/gallery/gallery-thum-02.jpg">								
						<div class="gallery-widget">
							<a href="assets/img/gallery/gallery-02.jpg" data-fancybox="gallery2">
								<img class="img-fluid" alt="Image" src="assets/img/gallery/gallery-thum-02.jpg">
							</a>											
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 col-12" data-aos="fade-down" data-src="assets/img/gallery/gallery-03.jpg" data-responsive="assets/img/gallery/gallery-thum-03.jpg">
						<div class="gallery-widget">
							<a href="assets/img/gallery/gallery-03.jpg" data-fancybox="gallery2">
								<img class="img-fluid" alt="Image" src="assets/img/gallery/gallery-thum-03.jpg">
							</a>											
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 col-12" data-aos="fade-down" data-src="assets/img/gallery/gallery-04.jpg" data-responsive="assets/img/gallery/gallery-thum-04.jpg">					
						<div class="gallery-widget">
							<a href="assets/img/gallery/gallery-04.jpg" data-fancybox="gallery2">
								<img class="img-fluid" alt="Image" src="assets/img/gallery/gallery-thum-04.jpg">
							</a>											
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 col-12" data-aos="fade-down" data-src="assets/img/gallery/gallery-05.jpg" data-responsive="assets/img/gallery/gallery-thum-05.jpg">
						<div class="gallery-widget">
							<a href="assets/img/gallery/gallery-05.jpg" data-fancybox="gallery2">
								<img class="img-fluid" alt="Image" src="assets/img/gallery/gallery-thum-05.jpg">
							</a>											
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 col-12" data-aos="fade-down" data-src="assets/img/gallery/gallery-06.jpg" data-responsive="assets/img/gallery/gallery-thum-06.jpg">
						<div class="gallery-widget">
							<a href="assets/img/gallery/gallery-06.jpg" data-fancybox="gallery2">
								<img class="img-fluid" alt="Image" src="assets/img/gallery/gallery-thum-06.jpg">
							</a>											
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 col-12" data-aos="fade-down" data-src="assets/img/gallery/gallery-07.jpg" data-responsive="assets/img/gallery/gallery-thum-07.jpg">					
						<div class="gallery-widget">
							<a href="assets/img/gallery/gallery-07.jpg" data-fancybox="gallery2">
								<img class="img-fluid" alt="Image" src="assets/img/gallery/gallery-thum-07.jpg">
							</a>											
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 col-12" data-aos="fade-down" data-src="assets/img/gallery/gallery-08.jpg" data-responsive="assets/img/gallery/gallery-thum-08.jpg">
						<div class="gallery-widget">
							<a href="assets/img/gallery/gallery-08.jpg" data-fancybox="gallery2">
								<img class="img-fluid" alt="Image" src="assets/img/gallery/gallery-thum-08.jpg">
							</a>											
						</div>									
					</div>	
					<div class="col-lg-4 col-md-6 col-sm-6 col-12" data-aos="fade-down" data-src="assets/img/gallery/gallery-09.jpg" data-responsive="assets/img/gallery/gallery-thum-09.jpg">
						<div class="gallery-widget">
							<a href="assets/img/gallery/gallery-09.jpg" data-fancybox="gallery2">
								<img class="img-fluid" alt="Image" src="assets/img/gallery/gallery-thum-09.jpg">
							</a>											
						</div>									
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 col-12" data-aos="fade-down" data-src="assets/img/gallery/gallery-10.jpg" data-responsive="assets/img/gallery/gallery-thum-10.jpg">
						<div class="gallery-widget">
							<a href="assets/img/gallery/gallery-10.jpg" data-fancybox="gallery2">
								<img class="img-fluid" alt="Image" src="assets/img/gallery/gallery-thum-10.jpg">
							</a>											
						</div>									
					</div>	
					<div class="col-lg-4 col-md-6 col-sm-6 col-12" data-aos="fade-down" data-src="assets/img/gallery/gallery-11.jpg" data-responsive="assets/img/gallery/gallery-thum-11.jpg">
						<div class="gallery-widget">
							<a href="assets/img/gallery/gallery-11.jpg" data-fancybox="gallery2">
								<img class="img-fluid" alt="Image" src="assets/img/gallery/gallery-thum-11.jpg">
							</a>											
						</div>									
					</div>	
					<div class="col-lg-4 col-md-6 col-sm-6 col-12" data-aos="fade-down" data-src="assets/img/gallery/gallery-12.jpg" data-responsive="assets/img/gallery/gallery-thum-12.jpg">
						<div class="gallery-widget">
							<a href="assets/img/gallery/gallery-12.jpg" data-fancybox="gallery2">
								<img class="img-fluid" alt="Image" src="assets/img/gallery/gallery-thum-12.jpg">
							</a>											
						</div>									
					</div>	
          </lightgallery>
				</div> 
  </div>
</div>
<!-- /Gallery section-->

