<div class="card">
    <div class="card-header">
        <h5>Other Settings</h5>
    </div>
    <div class="card-body">
        <div>
            <div>
                <h6 class="mb-3">Clear Cache</h6>
                <P class="mb-3">Clearing the cache may improve performance but will remove temporary files, stored preferences, and cached data from websites and applications.</P>
                <a href="javascript:void(0);" class="btn btn-primary">Clear Cache</a>
            </div>
        </div>
    </div>
</div>