input.ng-dirty.ng-invalid,
mat-select.ng-dirty.ng-invalid {
  border: 1px solid red;
}

input.ng-dirty.ng-valid,
mat-select.ng-dirty.ng-valid {
  border: 1px solid green;
}

.mat-mdc-form-field.ng-invalid.ng-touched .mdc-notched-outline {
  border-color: red !important;
}

::ng-deep .mat-autocomplete-panel.brand-autocomplete {
  max-height: 300px !important;
  overflow-y: auto !important;
}

::ng-deep .mat-mdc-optgroup-label  {
  //background-color: #ccc !important;
  color: #000 !important;
  font-weight: 900 !important;
}