<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col-md-12 col-12">
        <h2 class="breadcrumb-title">Ajouter les informations sur votre véhicule</h2>
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="routes.index">Accueil</a></li>
            <li class="breadcrumb-item"><a [routerLink]="routes.vehicleList">Voitures</a></li>
            <li class="breadcrumb-item active" aria-current="page">Informations voiture</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- /Breadscrumb Section -->
<section class="section product-details add-vehicle">
  <form [formGroup]="addVehicleForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="row" id="info">
        <div class="col-lg-4 col-md-12">
          <div class="heading-lising">
            <h4>Informations basiques</h4>
          </div>
        </div>
        <div class="col-lg-8 col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">Titre/Description <span class="text-danger"> *</span></label>
                    <input type="text" class="form-control"
                           placeholder="Entrez le titre qui sera visible dans votre annonce"
                           formControlName="title">
                  </div>
                </div>
<div class="col-lg-6 col-md-12">
  <div class="mb-3">
    <label class="form-label">Marque <span class="text-danger">*</span></label>

<input
  type="text"
  class="form-control"
  placeholder="Cliquez pour choisir ou saisir une marque"
  formControlName="brand"
  [matAutocomplete]="auto"
/>

<mat-autocomplete 
  #auto="matAutocomplete"
  [displayWith]="displayBrand">
  @if ((filteredPopularBrands$ | async)?.length) {
    <mat-optgroup label="Populaires">
      @for (brand of filteredPopularBrands$ | async; track brand.id) {
        <mat-option [value]="brand.id">
          {{ brand.brandName }}
        </mat-option>
      }
    </mat-optgroup>
  }

  @if ((filteredOtherBrands$ | async)?.length) {
    <mat-optgroup label="Autres">
      @for (brand of filteredOtherBrands$ | async; track brand.id) {
        <mat-option [value]="brand.id">
          {{ brand.brandName }}
        </mat-option>
      }
    </mat-optgroup>
  }
</mat-autocomplete>
  </div>
</div>

                <div class="col-lg-6 col-md-12">
                  <div class="mb-3">
                    <label class="form-label">Model<span class="text-danger"> *</span></label>
                    <mat-select class="custom-mat-select select" placeholder="Sélectionnez" formControlName="model">
                      @for(model of filteredModels() ;track model.modelId) {
                      <mat-option [value]="model.modelId">{{ model?.name }}</mat-option>
                      }
                    </mat-select>
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="mb-3">
                    <label class="form-label">État du véhicule<span class="text-danger"> *</span></label>
                    <mat-select class="custom-mat-select select" placeholder="Sélectionnez" formControlName="condition">
                      @for(condition of vehicleConfiguration?.conditions ;track condition.key) {
                      <mat-option [value]="condition.key">{{ condition?.value }}</mat-option>
                      }
                    </mat-select>
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="mb-3">
                    <label class="form-label">Année<span class="text-danger"> *</span></label>
                    <mat-select class="custom-mat-select select" placeholder="Sélectionnez" formControlName="year">
                      @for(year of vehicleConfiguration?.years ;track year) {
                      <mat-option [value]="year">{{ year }}</mat-option>
                      }
                    </mat-select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label class="form-label">Catégorie <span class="text-danger"> *</span></label>
                    <mat-select class="custom-mat-select select" placeholder="Sélectionnez" formControlName="category">
                      @for(category of vehicleConfiguration?.categories ;track category.key) {
                      <mat-option [value]="category.key">{{ category.value }}</mat-option>
                      }
                    </mat-select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label class="form-label">Couleur <span class="text-danger"> *</span></label>
                    <mat-select class="custom-mat-select select" placeholder="Sélectionnez" formControlName="color">
                      @for(color of vehicleConfiguration?.colors ;track color.key) {
                      <mat-option [value]="color.key">{{ color.value }}</mat-option>
                      }
                    </mat-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="registration">
        <div class="col-lg-4 col-md-12">
          <div class="heading-lising">
            <h4>Immatriculation</h4>
          </div>
        </div>
        <div class="col-lg-8 col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6 col-12">
                  <div class="mb-3">
                    <label class="form-label">Numéro immatriculation<span class="text-danger"> *</span></label>
                    <input type="text" class="form-control" placeholder="Entrez l'immatriculation"
                           formControlName="licensePlateNumber">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" id="specifications">
        <div class="col-lg-4 col-md-12">
          <div class="heading-lising">
            <h4>Caractéristiques techniques</h4>
          </div>
        </div>
        <div class="col-lg-8 col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6 col-12">
                  <div class="mb-3">
                    <label class="form-label">Type de carburant <span class="text-danger">*</span></label>
                    <mat-select class="custom-mat-select select" placeholder="Sélectionnez" formControlName="fuelType">
                      @for(fuelType of vehicleConfiguration?.fuelTypes ;track fuelType.key) {
                      <mat-option [value]="fuelType.key">{{ fuelType.value }}</mat-option>
                      }
                    </mat-select>
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="mb-3">
                    <label class="form-label">Kilométrage <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Entrez le kilométrage"
                           formControlName="mileage">
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="mb-3">
                    <label class="form-label">Nombre de portes <span class="text-danger">*</span></label>
                    <mat-select class="custom-mat-select select" placeholder="Sélectionnez" formControlName="doors">
                      @for(door of vehicleConfiguration?.doors ;track door) {
                      <mat-option [value]="door">{{ door }}</mat-option>
                      }
                    </mat-select>
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="mb-3">
                    <label class="form-label">Nombre de places <span class="text-danger">*</span></label>
                    <mat-select class="custom-mat-select select" placeholder="Sélectionnez" formControlName="seats">
                      @for(seat of vehicleConfiguration?.seats ;track seat) {
                      <mat-option [value]="seat">{{ seat }}</mat-option>
                      }
                    </mat-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" id="features">
        <div class="col-lg-4 col-md-12">
          <div class="heading-lising">
            <h4>Équipements et options</h4>
          </div>
        </div>
        <div class="col-lg-8 col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="check-listli">
                <ul class="list-unstyled" formArrayName="specifications">
                  @for(specification of vehicleConfiguration?.specifications; let i = $index; track specification.key) {
                  <li>
                    <label class="custom_check d-inline-flex location-check m-0">
                      <span>{{ specification.value }}</span>
                      <input type="checkbox" [formControlName]="i">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                  }
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" id="gallery">
        <div class="col-lg-4 col-md-12">
          <div class="heading-lising">
            <h4>Photos</h4>
          </div>
        </div>
        <div class="col-lg-8 col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12" formArrayName="photos">
                  @for(photoGroup of photosArray.controls; let i = $index; track i) {
                  <div [formGroupName]="i" class="mb-3">
                    <label class="form-label">
                      {{ photoConfigs[i].label }}
                      @if(photoConfigs[i].min > 0) {
                      <span class="text-danger">*</span>
                      }
                    </label>

                    <div formArrayName="files" class="d-flex gap-2 flex-wrap">
                      @for(fileCtrl of getFilesArray(i).controls; let j = $index; track j) {
                      <input
                        type="file"
                        class="form-control w-auto"
                        [formControlName]="j"
                        (change)="onFileChange($event, i, j)"
                      />
                      }
                    </div>
                    @if(canAddMoreFiles(i)) {
                    <button
                      type="button"
                      class="btn btn-outline-primary ms-2"
                      (click)="addFileInput(i)"
                    >
                      + Ajouter une photo
                    </button>
                    }

                  </div>
                  }
                </div>
              </div>

              <div class="upload-list">
                <ul>
                  <li>La taille maximale est de 10MB. Formats: jpeg, jpg, png.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="booking-info-btns d-flex justify-content-end">
        <a [routerLink]="routes.bookingCheckout" class="btn btn-secondary">Preview</a>
        <button class="btn btn-primary continue-book-btn" type="submit">Enregistrer</button>
      </div>
    </div>
  </form>
</section>
