<div class="card">
    <div class="card-header">
        <h5>System Settings</h5>
    </div>
    <div class="card-body pb-0">
        <div class="payment-section">
            <h6 class="mb-3">Payment Methods</h6>
            <div class="row">
                <div class="col-xl-4 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <div>
                                <div class="payment-content">
                                    <span><img src="assets/admin/img/icons/paypal-name.svg" alt="image"></span>
                                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add_paypal"><i class="ti ti-settings"></i></a>
                                </div>
                                <p class="fs-13">PayPal is the faster, safer way to send and receive money </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="badge badge-outline d-inline-flex align-items-center text-gray-9"><i class="ti ti-point-filled text-success me-1"></i>Connected</span>
                                <div class="form-check form-check-sm form-switch p-0 m-0">
                                    <input class="form-check-input form-label m-0" type="checkbox" role="switch" checked>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <div>
                                <div class="payment-content">
                                    <span><img src="assets/admin/img/icons/stripe-icon.svg" alt="image"></span>
                                    <a href="javascript:void(0);"><i class="ti ti-settings"></i></a>
                                </div>
                                <p class="fs-13">APIs to accept cards, manage subscriptions, send money.</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="badge badge-outline d-inline-flex align-items-center text-gray-9"><i class="ti ti-point-filled text-dark me-1"></i>Not Connected</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <div>
                                <div class="payment-content">
                                    <span><img src="assets/admin/img/icons/brain-tree.svg" alt="image"></span>
                                    <a href="javascript:void(0);"><i class="ti ti-settings"></i></a>
                                </div>
                                <p class="fs-13">Braintree offers more fraud protection and security features.</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="badge badge-outline d-inline-flex align-items-center text-gray-9"><i class="ti ti-point-filled text-dark me-1"></i>Not Connected</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <div>
                                <div class="payment-content">
                                    <span><img src="assets/admin/img/icons/Razorpay-icon.svg" alt="image"></span>
                                    <a href="javascript:void(0);"><i class="ti ti-settings"></i></a>
                                </div>
                                <p class="fs-13">Razorpay is an India's all in one payment solution.</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="badge badge-outline d-inline-flex align-items-center text-gray-9"><i class="ti ti-point-filled text-dark me-1"></i>Not Connected</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <div>
                                <div class="payment-content">
                                    <span><img src="assets/admin/img/icons/2checkout-icon.svg" alt="image"></span>
                                    <a href="javascript:void(0);"><i class="ti ti-settings"></i></a>
                                </div>
                                <p class="fs-13">Works stably and reliably and features are valuable </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="badge badge-outline d-inline-flex align-items-center text-gray-9"><i class="ti ti-point-filled text-success me-1"></i>Connected</span>
                                <div class="form-check form-check-sm form-switch p-0 m-0">
                                    <input class="form-check-input form-label m-0" type="checkbox" role="switch" checked>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xl-4 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <div>
                                <div class="payment-content">
                                    <span><img src="assets/admin/img/icons/skrill-icon.svg" alt="image"></span>
                                    <a href="javascript:void(0);"><i class="ti ti-settings"></i></a>
                                </div>
                                <p class="fs-13">Allows  send international money transfers and payments quickly </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="badge badge-outline d-inline-flex align-items-center text-gray-9"><i class="ti ti-point-filled text-dark me-1"></i>Not Connected</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xl-4 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <div>
                                <div class="payment-content">
                                    <span><img src="assets/admin/img/icons/payu-icon.svg" alt="image"></span>
                                    <a href="javascript:void(0);"><i class="ti ti-settings"></i></a>
                                </div>
                                <p class="fs-13">Provide payment solution to individuals to make payments</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="badge badge-outline d-inline-flex align-items-center text-gray-9"><i class="ti ti-point-filled text-dark me-1"></i>Not Connected</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xl-4 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <div>
                                <div class="payment-content">
                                    <span><img src="assets/admin/img/icons/apple-pay-icon.svg" alt="image"></span>
                                    <a href="javascript:void(0);"><i class="ti ti-settings"></i></a>
                                </div>
                                <p class="fs-13">Replaces your physical cards and cash with private and secure </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="badge badge-outline d-inline-flex align-items-center text-gray-9"><i class="ti ti-point-filled text-dark me-1"></i>Not Connected</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xl-4 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <div>
                                <div class="payment-content">
                                    <span><img src="assets/admin/img/icons/payonner-icon.svg" alt="image"></span>
                                    <a href="javascript:void(0);"><i class="ti ti-settings"></i></a>
                                </div>
                                <p class="fs-13">Fast, Low-Cost Solution for your International Business.</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="badge badge-outline d-inline-flex align-items-center text-gray-9"><i class="ti ti-point-filled text-dark me-1"></i>Not Connected</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xl-4 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <div>
                                <div class="payment-content">
                                    <span><img src="assets/admin/img/icons/mercad-pago-icon.svg" alt="image"></span>
                                    <a href="javascript:void(0);"><i class="ti ti-settings"></i></a>
                                </div>
                                <p class="fs-13">Online payment platform that enables to send & receive money </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="badge badge-outline d-inline-flex align-items-center text-gray-9"><i class="ti ti-point-filled text-dark me-1"></i>Not Connected</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xl-4 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <div>
                                <div class="payment-content">
                                    <span><img src="assets/admin/img/icons/payment-icon.svg" alt="image"></span>
                                    <a href="javascript:void(0);"><i class="ti ti-settings"></i></a>
                                </div>
                                <p class="fs-13">Paytm is a leading Indian digital payments & financial services platform.</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="badge badge-outline d-inline-flex align-items-center text-gray-9"><i class="ti ti-point-filled text-success me-1"></i>Connected</span>
                                <div class="form-check form-check-sm form-switch p-0 m-0">
                                    <input class="form-check-input form-label m-0" type="checkbox" role="switch" checked>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <div>
                                <div class="payment-content">
                                    <span><img src="assets/admin/img/icons/midtrans-icon.svg" alt="image"></span>
                                    <a href="javascript:void(0);"><i class="ti ti-settings"></i></a>
                                </div>
                                <p class="fs-13">Midtrans provides the maximum number of payment methods</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="badge badge-outline d-inline-flex align-items-center text-gray-9"><i class="ti ti-point-filled text-dark me-1"></i>Not Connected</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <div>
                                <div class="payment-content">
                                    <span><img src="assets/admin/img/icons/pytorch-icon.svg" alt="image"></span>
                                    <a href="javascript:void(0);"><i class="ti ti-settings"></i></a>
                                </div>
                                <p class="fs-13">PyTorch, a network through which your customers transfer funds</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="badge badge-outline d-inline-flex align-items-center text-gray-9"><i class="ti ti-point-filled text-success me-1"></i>Connected</span>
                                <div class="form-check form-check-sm form-switch p-0 m-0">
                                    <input class="form-check-input form-label m-0" type="checkbox" role="switch" checked>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <div>
                                <div class="payment-content">
                                    <span><img src="assets/admin/img/icons/bank-transfer-icon.svg" alt="image"></span>
                                    <a href="javascript:void(0);"><i class="ti ti-settings"></i></a>
                                </div>
                                <p class="fs-13">Direct transfer of funds from one bank account into another.</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="badge badge-outline d-inline-flex align-items-center text-gray-9"><i class="ti ti-point-filled text-dark me-1"></i>Not Connected</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <div>
                                <div class="payment-content">
                                    <span><img src="assets/admin/img/icons/cash-delivery-icon.svg" alt="image"></span>
                                    <a href="javascript:void(0);"><i class="ti ti-settings"></i></a>
                                </div>
                                <p class="fs-13">Indicating that goods must be paid for at the time of delivery. </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="badge badge-outline d-inline-flex align-items-center text-gray-9"><i class="ti ti-point-filled text-dark me-1"></i>Not Connected</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add_paypal">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mb-0">Paypal</h5>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x fs-16"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">From Email Address <span class="text-danger">*</span></label>
                    <input type="text" class="form-control">
                </div>                     
                <div class="mb-3">
                    <label class="form-label">API Keys <span class="text-danger">*</span></label>
                    <input type="text" class="form-control">
                </div>                     
                <div class="mb-3">
                    <label class="form-label">Secret Key <span class="text-danger">*</span></label>
                    <input type="text" class="form-control">
                </div>                     
                
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
                    <a href="javascript:void(0);" class="btn btn-primary" data-bs-dismiss="modal">Submit</a>
                </div>
            </div>
        </div>
    </div>
</div>