<div class="card">
    <div class="card-header">
        <h5 class="fw-bold">App Settings</h5>
    </div>
    <div class="card-body pb-0">
        <h6 class="fw-bold mb-3">Invoice Template</h6>
        <div class="row gx-3">
            <div class="col-md-3">
                <div class="card invoice-template">
                    <div class="card-body p-2">
                        <div class="invoice-img">
                            <a href="javascript:void(0);">
                                <img src="assets/admin/img/invoice/invoice-01.svg" alt="invoice">
                            </a>
                            <a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_1"><i class="ti ti-eye"></i></a>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="javascript:void(0);" class="text-gray-9">General Invoice 1</a>
                            <a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
                                <i class="ti ti-star fs-8"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card invoice-template">
                    <div class="card-body p-2">
                        <div class="invoice-img">
                            <a href="javascript:void(0);">
                                <img src="assets/admin/img/invoice/invoice-02.svg" alt="invoice">
                            </a>
                            <a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_2"><i class="ti ti-eye"></i></a>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="javascript:void(0);" class="text-gray-9">General Invoice 2</a>
                            <a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
                                <i class="ti ti-star fs-8"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card invoice-template">
                    <div class="card-body p-2">
                        <div class="invoice-img">
                            <a href="javascript:void(0);">
                                <img src="assets/admin/img/invoice/invoice-03.svg" alt="invoice">
                            </a>
                            <a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_3"><i class="ti ti-eye"></i></a>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="javascript:void(0);" class="text-gray-9">General Invoice 3</a>
                            <a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
                                <i class="ti ti-star fs-8"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card invoice-template">
                    <div class="card-body p-2">
                        <div class="invoice-img">
                            <a href="javascript:void(0);">
                                <img src="assets/admin/img/invoice/invoice-04.svg" alt="invoice">
                            </a>
                            <a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_4"><i class="ti ti-eye"></i></a>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="javascript:void(0);" class="text-gray-9">General Invoice 4</a>
                            <a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
                                <i class="ti ti-star fs-8"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Invoivce View -->
<div class="modal fade addmodal" id="invoice_view_1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="mb-0">General Invoice 1</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x fs-16"></i>
                </button>
            </div>
            <div class="modal-body">
                <div><img src="assets/admin/img/invoice/invoice-view-01.svg" class="img-fluid" alt=""></div>
            </div>
        </div>
    </div>
</div>
<!-- /Invoivce View -->
<!-- Invoivce View -->
<div class="modal fade addmodal" id="invoice_view_2">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="mb-0">General Invoice 2</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x fs-16"></i>
                </button>
            </div>
            <div class="modal-body">
                <div><img src="assets/admin/img/invoice/invoice-view-02.svg" class="img-fluid" alt=""></div>
            </div>
        </div>
    </div>
</div>
<!-- /Invoivce View -->
<!-- Invoivce View -->
<div class="modal fade addmodal" id="invoice_view_3">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="mb-0">General Invoice 3</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x fs-16"></i>
                </button>
            </div>
            <div class="modal-body">
                <div><img src="assets/admin/img/invoice/invoice-view-03.svg" class="img-fluid" alt=""></div>
            </div>
        </div>
    </div>
</div>
<!-- /Invoivce View -->
<!-- Invoivce View -->
<div class="modal fade addmodal" id="invoice_view_4">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="mb-0">General Invoice 4</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x fs-16"></i>
                </button>
            </div>
            <div class="modal-body">
                <div><img src="assets/admin/img/invoice/invoice-view-04.svg" class="img-fluid" alt=""></div>
            </div>
        </div>
    </div>
</div>
<!-- /Invoivce View -->