<div class="card">
    <div class="card-header">
        <h5>Website Settings</h5>
    </div>
    <form>
        <div class="card-body pb-0">
            <div class="localization-content mb-3">
                <div>
                    <h6 class="mb-3">Localization</h6>
                    <div class="localization-list">
                        <p class="text-gray-9 fw-medium">Time Zone <span class="text-danger">*</span></p>
                        <div class="custom-select-w">
                             <mat-select class="custom-mat-select select" placeholder="Select">
                                <mat-option value="1">Select</mat-option>
                                <mat-option value="1">(+5:30) GMT</mat-option>
                                <mat-option value="1">(+11:30) INR</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="localization-list">
                        <p class="text-gray-9 fw-medium">Start Week On <span class="text-danger">*</span></p>
                        <div class="custom-select-w">
                             <mat-select class="custom-mat-select select" placeholder="Select">
                                <mat-option value="1">Select</mat-option>
                                <mat-option value="1">Monday</mat-option>
                                <mat-option value="1">Tuesday</mat-option>
                                <mat-option value="1">Wednesday</mat-option>
                                <mat-option value="1">Thursday</mat-option>
                                <mat-option value="1">Friday</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="localization-list">
                        <p class="text-gray-9 fw-medium">Date Format <span class="text-danger">*</span></p>
                        <div class="custom-select-w">
                             <mat-select class="custom-mat-select select" placeholder="Select">
                                <mat-option value="1">Select</mat-option>
                                <mat-option value="1">01 Jan 2025</mat-option>
                                <mat-option value="1">Jan 02 2025</mat-option>
                                <mat-option value="1">2025 Jan 02</mat-option>
                                <mat-option value="1">2025 02 Jan</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="localization-list">
                        <p class="text-gray-9 fw-medium">Time Format <span class="text-danger">*</span></p>
                        <div class="custom-select-w">
                             <mat-select class="custom-mat-select select" placeholder="Select">
                                <mat-option value="1">Select</mat-option>
                                <mat-option value="1">12 hrs</mat-option>
                                <mat-option value="1">24 hrs</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="localization-list">
                        <p class="text-gray-9 fw-medium">Default Language <span class="text-danger">*</span></p>
                        <div class="custom-select-w">
                             <mat-select class="custom-mat-select select" placeholder="Select">
                                <mat-option value="1">Select</mat-option>
                                <mat-option value="1">English</mat-option>
                                <mat-option value="1">French</mat-option>
                                <mat-option value="1">Gremany</mat-option>
                            
                            </mat-select>
                        </div>
                    </div>
                    <div class="localization-list">
                        <p class="text-gray-9 fw-medium">Language Switcher <span class="text-danger">*</span></p>
                        <div>
                            <div class="form-check form-check-md form-switch">
                                <input class="form-check-input form-label" type="checkbox" role="switch" checked>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="localization-content border-0">
                <div>
                    <h6 class="mb-3">Currency Information</h6>
                    <div class="localization-list">
                        <p class="text-gray-9 fw-medium">Currency <span class="text-danger">*</span></p>
                        <div class="custom-select-w">
                             <mat-select class="custom-mat-select select" placeholder="Select">
                                <mat-option value="1">Select</mat-option>
                                <mat-option value="1">USD</mat-option>
                                <mat-option value="1">EURO</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="localization-list">
                        <p class="text-gray-9 fw-medium">Currency Symbol <span class="text-danger">*</span></p>
                        <div class="custom-select-w">
                             <mat-select class="custom-mat-select select" placeholder="Select">
                                <mat-option value="1">Select</mat-option>
                                <mat-option value="1">$</mat-option>
                                <mat-option value="1">€</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="localization-list">
                        <p class="text-gray-9 fw-medium">Currency Position <span class="text-danger">*</span></p>
                        <div class="custom-select-w">
                             <mat-select class="custom-mat-select select" placeholder="Select">
                                <mat-option value="1">Select</mat-option>
                                <mat-option value="1">100$</mat-option>
                                <mat-option value="1">$100</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="localization-list">
                        <p class="text-gray-9 fw-medium">Decimal Seperator <span class="text-danger">*</span></p>
                        <div class="custom-select-w">
                             <mat-select class="custom-mat-select select" placeholder="Select">
                                <mat-option value="1">Select</mat-option>
                                <mat-option value="1">.</mat-option>
                                <mat-option value="1">,</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="localization-list">
                        <p class="text-gray-9 fw-medium">Thousand Seperator <span class="text-danger">*</span></p>
                        <div class="custom-select-w">
                             <mat-select class="custom-mat-select select" placeholder="Select">
                                <mat-option value="1">Select</mat-option>
                                <mat-option value="1">.</mat-option>
                                <mat-option value="1">,</mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex align-items-center justify-content-end">
                <a href="javascript:void(0);" class="btn btn-light me-2">Cancel</a>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </form>
</div>