<div class="card">
    <div class="card-header">
        <h5>Other Settings</h5>
    </div>
    <div class="card-body ">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="mb-3">System Backup</h6>
            <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#generate">Generate Backup</a>
        </div>
        <div class="custom-datatable-filter table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>FILE NAME</th>
                        <th>CREATED ON</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h6 class="fw-semibold fs-14"><a href="javascript:void(0);">Full_Database_Backup_2024-12-11.sql</a></h6>
                        </td>
                        <td>
                            <p class="text-gray-9">24 Jan 2025</p>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-icon btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="ti ti-dots-vertical"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end p-2">
                                    <li>
                                        <a class="dropdown-item rounded-1" href="javascript:void(0);"><i class="ti ti-restore me-1"></i>Restore</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_backup"><i class="ti ti-trash me-1"></i>Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h6 class="fw-semibold fs-14"><a href="javascript:void(0);">Full_Database_Backup_2024-10-11.sql</a></h6>
                        </td>
                        <td>
                            <p class="text-gray-9">19 Dec 2024</p>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-icon btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="ti ti-dots-vertical"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end p-2">
                                    <li>
                                        <a class="dropdown-item rounded-1" href="javascript:void(0);"><i class="ti ti-restore me-1"></i>Restore</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_backup"><i class="ti ti-trash me-1"></i>Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h6 class="fw-semibold fs-14"><a href="javascript:void(0);">Full_Database_Backup_2024-09-11.sql</a></h6>
                        </td>
                        <td>
                            <p class="text-gray-9">29 Nov 2024</p>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-icon btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="ti ti-dots-vertical"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end p-2">
                                    <li>
                                        <a class="dropdown-item rounded-1" href="javascript:void(0);"><i class="ti ti-restore me-1"></i>Restore</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_backup"><i class="ti ti-trash me-1"></i>Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>

<!-- Generate  -->
<div class="modal fade deletemodal" id="generate">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <form>
                    <span class="avatar avatar-lg bg-primary-transparent rounded-circle text-primary mb-3">
                        <i class="ti ti-folders fs-26"></i>
                    </span>
                    <h4 class="mb-1">Generate Backup</h4>
                    <p class="mb-3">Are you sure you want to generate database backup?</p>
                    <div class="d-flex justify-content-center">
                        <a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Generate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Generate -->

    <!-- Delete  -->
<div class="modal fade deletemodal" id="delete_backup">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <span class="avatar avatar-lg bg-transparent-danger rounded-circle text-danger mb-3">
                    <i class="ti ti-trash-x fs-26"></i>
                </span>
                <h4 class="mb-1">Delete Backup</h4>
                <p class="mb-3">Are you sure you want to delete backup?</p>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
                    <a href="javascript:void(0);" class="btn btn-primary" data-bs-dismiss="modal">Yes, Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete -->