<div class="content me-4 pb-0">
				
    <!-- Tracking -->
    <div class="map-wrap tracking position-relative">
        <div id="map" class="tracking-map w-100 z-1"></div>	
        <div class="position-absolute top-0 start-0 w-100 z-2 p-3">										
            <div class="input-icon-start position-relative">
                <span class="input-icon-addon">
                    <i class="ti ti-search"></i>
                </span>
                <input type="text" class="form-control" placeholder="Search by Car Name">
            </div>
        </div>	
    </div>	
    <!-- /Tracking -->					

</div>