<div class="content me-4">
                
    <!-- Breadcrumb -->
    <div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
        <div class="my-auto mb-2">
            <h2 class="mb-1">Seats</h2>
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a [routerLink]="routes.adminDashboard">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Seats</li>
                </ol>
            </nav>
        </div>
        <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">                        
            <div class="mb-2">
                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add_seat_type" class="btn btn-primary d-flex align-items-center"><i class="ti ti-plus me-2"></i>Add New Seat Type</a>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Table Header -->
    <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-3">
        <div class="d-flex align-items-center flex-wrap row-gap-3"> 
            <div class="top-search">
                <div class="top-search-group">
                    <span class="input-icon">
                        <i class="ti ti-search"></i>
                    </span>
                    <input  [(ngModel)]="searchDataValue" [ngModelOptions]="{ standalone: true }" type="search" (ngModelChange)="searchData(searchDataValue)" class="form-control form-control-md" placeholder="Search">

                </div>
            </div>
        </div>
        <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">               
            <div class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle btn btn-white d-inline-flex align-items-center" data-bs-toggle="dropdown">
                    <i class="ti ti-badge me-1"></i> Status
                </a>
                <ul class="dropdown-menu  dropdown-menu-end p-2">
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Active</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Inactive</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Table Header -->

    <!-- Custom Data Table -->
    <div class="custom-datatable-filter table-responsive">
        <table matSort (matSortChange)="sortData($event)" class="table">
            <thead class="thead-light">
                <tr>
                    <th class="no-sort">
                        <div class="form-check form-check-md" (click)="selectAll(initChecked)">
                            <input class="form-check-input" type="checkbox" id="select-all"  [(ngModel)]="initChecked">
                        </div>
                    </th>
                    <th mat-sort-header="seat">SEAT TYPE</th>
                    <th mat-sort-header="status">STATUS</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (data of tableData;track data){
                <tr>
                    <td class="sorting_1">
                        <div class="form-check form-check-md" >
                            <input class="form-check-input" type="checkbox" [(ngModel)]="data.isSelected">
                        </div>
                    </td>
                    <td>
                        <h6 class="fw-medium"><a href="javascript:void(0);">{{data.seatType}}</a></h6>
                    </td>
                    <td>
                        <span class="badge d-inline-flex align-items-center badge-sm" [ngClass]="data.status==='Inactive'?'badge-danger-transparent':'badge-success-transparent'">
                            <i class="ti ti-point-filled me-1"></i>{{data.status}}
                        </span>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-icon btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ti ti-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end p-2">
                                <li>
                                    <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit_seat_type"><i class="ti ti-edit me-1"></i>Edit</a>
                                </li>
                                <li>
                                    <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_seat_type"><i class="ti ti-trash me-1"></i>Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <!-- Custom Data Table -->

    <div class="table-footer"></div>			
<app-custom-pagination/>
</div>

        <!-- Add Seat Type -->
        <div class="modal fade" id="add_seat_type">
            <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
					<div class="modal-header">
						<h5 class="mb-0">Create Seat Type</h5>
						<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
							<i class="ti ti-x fs-16"></i>
						</button>
					</div>
                    <div class="modal-body pb-1">
						<div class="mb-3">
							<label class="form-label">Seat Type <span class="text-danger">*</span></label>
							<input type="text" class="form-control">
						</div>
                    </div>
					<div class="modal-footer">
						<div class="d-flex justify-content-center">
                            <a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
                            <a href="javascript:void(0);" class="btn btn-primary" data-bs-dismiss="modal">Create New</a>
                        </div>
					</div>
                </div>
            </div>
        </div>
        <!-- /Add Seat Type -->

        <!-- Edit Seat Type -->
        <div class="modal fade" id="edit_seat_type">
            <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">Edit Seat Type</h4>
						<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
							<i class="ti ti-x fs-16"></i>
						</button>
					</div>
                    <div class="modal-body pb-1">
						<div class="mb-3">
							<label class="form-label">Seat Type <span class="text-danger">*</span></label>
							<input type="text" class="form-control" placeholder="4 Seater">
						</div>
                    </div>
					<div class="modal-footer">
						<div class="d-flex justify-content-between align-items-center w-100">
							<div class="form-check form-check-md form-switch me-2">
								<label class="form-check-label form-label mt-0 mb-0">
								<input class="form-check-input form-label me-2" type="checkbox" role="switch" checked>
									Status
								</label>
							</div>
							<div class="d-flex justify-content-center">
								<a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
								<a href="javascript:void(0);" class="btn btn-primary" data-bs-dismiss="modal">Save Changes</a>
							</div>
						</div>						
					</div>
                </div>
            </div>
        </div>
        <!-- /Edit Seat Type -->
        
        <!-- Delete Seat Type -->
        <div class="modal fade" id="delete_seat_type">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <span class="avatar avatar-lg bg-transparent-danger rounded-circle text-danger mb-3">
                            <i class="ti ti-trash-x fs-26"></i>
                        </span>
                        <h4 class="mb-1">Delete Seat Type</h4>
                        <p class="mb-3">Are you sure you want to seat type?</p>
                        <div class="d-flex justify-content-center">
                            <a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
                            <a href="javascript:void(0);" class="btn btn-primary" data-bs-dismiss="modal">Yes, Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Delete Seat Type -->