<div class="content me-4">
                
    <!-- Breadcrumb -->
    <div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
        <div class="my-auto mb-2">
            <h4 class="mb-1">Roles</h4>
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a [routerLink]="routes.adminDashboard">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Roles</li>
                </ol>
            </nav>
        </div>
        <div class="d-flex my-xl-auto right-content align-items-center flex-wrap ">
            <div class="mb-2">
                <a href="javascript:void(0);" class="btn btn-primary d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#add_role"><i class="ti ti-plus me-2"></i>Add Role</a>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Table Header -->
    <div class="d-flex align-items-center justify-content-end flex-wrap row-gap-3 mb-3">
        <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
            <div class="top-search me-2">
                <div class="top-search-group">
                    <span class="input-icon">
                        <i class="ti ti-search"></i>
                    </span>
                    <input  [(ngModel)]="searchDataValue" [ngModelOptions]="{ standalone: true }" type="search" (ngModelChange)="searchData(searchDataValue)" class="form-control form-control-md" placeholder="Search">
                </div>
            </div> 
        </div>
    </div>
    <!-- /Table Header -->


    <!-- Custom Data Table -->
    <div class="custom-datatable-filter table-responsive">
        <table matSort (matSortChange)="sortData($event)" class="table datatable">
            <thead class="thead-light">
                <tr>
                    <th mat-sort-header="role">ROLE</th>
                    <th mat-sort-header="created">CREATED DATE</th>
                    <th mat-sort-header="status">STATUS</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>        
                @for (data of tableData;track data){
                <tr>    
                    <td>
                        <p class="text-gray-5">{{data.ROLE}}</p>
                    </td>
                    <td>
                        <p class="text-gray-5">{{data.CREATEDDATE}}</p>
                    </td>
                    <td>
                        <span class="badge badge-dark-transparent">
                            <i class="ti ti-point-filled me-1" 
                               [ngClass]="data.STATUS === 'Active' ? 'text-success' : 'text-danger'">
                            </i>{{data.STATUS}}
                        </span>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-icon btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ti ti-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end p-2">
                                <li>
                                    <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit_role"><i class="ti ti-edit me-1"></i>Edit</a>
                                </li>
                                <li>
                                    <a class="dropdown-item rounded-1" [routerLink]="routes.permissions"><i class="ti ti-shield me-1"></i>Permissions</a>
                                </li>
                                <li>
                                    <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_role"><i class="ti ti-trash me-1"></i>Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>  
            }       @if(tableData.length===0){
                    <tr>
                        <td class="text-center" colspan="12">No Matching Found</td>
                    </tr>
                }                         
            </tbody>	
        </table>
    </div>
    <!-- Custom Data Table -->
    <div class="table-footer"></div>
    <app-custom-pagination></app-custom-pagination>	
</div>	